div {
    padding: 5px 0;
}
.row {
    display: flex;
    box-sizing: border-box;
}
.row:hover {
  border-radius: 3px;
  background: #eee;
}
div {
  padding: 5px 0;
}
.completed {
    text-decoration: line-through;
    color: #ccc;
}
.title {
    display: flex;
    width: 50%;
    padding: 0 5px;
}

.price {
    width: 15%;
    padding: 0 5px;
}

.quantity {
    width: 10%;
    padding: 0 5px;
}

.total {
    width: 15%;
    color: green;
    font-weight: bolder;
    padding: 0 5px;
}

.actions {
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}

.actions #delete-btn {
  border: 0px;
  border-radius: 3px;
  background-color: red;
  color: white;
}

.actions #delete-btn:hover {
  background-color:rgb(164, 5, 37);
}
